{% extends "base.html" %}
{% block content %}
<!-- <h1>This is {{ result }} page</h1> -->

<form action="{% url 'bmicalc' %}" method="post">
    {% csrf_token %}
    <p>Weight(in KG):</p><input type="number" name="weig">
    <p>Height(in cm):</p><input type="number" name="heig">
    <p>Age:</p><input type="number" name="age">
    <label for="options">Gender:</label><br>
    <select id="options" name="options">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select>
    <br><br>
    <button class="button button2">Submit</button><br>
</form>
{% endblock %}
