
{% extends "base.html" %}
{% load static %}
{% block content %}
<form>
    {% if error %}
        <p style="color: red;">{{ error }}</p><br>
        <a href="{% url 'bmicalc' %}"><button type="button" class="btn btn-success">BMI</button></a>
    {% else %}
        <h1>BMI Result</h1>
        <p>BMI: {{ result }}</p>
        <p>Age: {{ age }}</p>
        <p>Gender: {{ gender }}</p>
        <p>Category: {{ category }}</p>
    {% endif %}
</form>
<h1 style="color:black; font-weight: bold;"> Height vs Weight for Gender</h1>
<div style="text-align: center;">
    <img src="{% static 'hwtchart.png' %}" alt="BMI" style="width: 65%; height: 65%;">
</div></div>

{% endblock %}



