{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    h1,p,h2{
        color: black;
    }
</style>
<div class="container mt-4">
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        <a href="{% url 'bmicalc' %}" class="btn btn-success">Recalculate BMI</a>
    {% else %}
        <h1 class="mb-3">BMI Result</h1>
        <p><strong>BMI:</strong> {{ result }}</p>
        <p><strong>Age:</strong> {{ age }}</p>
        <p><strong>Gender:</strong> {{ gender }}</p>
        <p><strong>Category:</strong> {{ category }}</p>

        <form method="POST" action="{% url 'generate_meal_plan' %}" class="mt-3">
            {% csrf_token %}
            <label for="budget" class="form-label">Enter Weekly Budget (₹):</label>
            <input type="number" name="budget" class="form-control w-25" required>
            <input type="hidden" name="bmi_category" value="{{ category }}">
            <button type="submit" class="btn btn-primary mt-2">Generate Meal Plan</button>
        </form>
    {% endif %}
</div>

<h2 class="text-center mt-5" style="color:black; font-weight: bold;">Height vs Weight for Gender</h2>
<div class="text-center">
    <img src="{% static 'hwtchart.png' %}" alt="BMI" class="img-fluid" style="width: 65%; height: auto;">
</div>

{% endblock %}
