{% extends 'base.html' %}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <h1>Login</h1>
    <p>Username</p> <input type="text" name="username">
    <p>Password</p> <input type="password" name="password">
    <button class="button button2">Sign in</button><br>
    {% for message in messages %}
   <p1 id="messages">{{message}} </p1>
   {% endfor %}
    <p>Do not have an account?<a href="{% url 'register' %}"> Register here</a> 
   </form>
   
   




<style>
    p1{
        color:rgb(255, 255, 255);
    }
   
</style>
{% endblock %}